@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); /*'Outfit', sans-serif*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--light-gray);
}

.bod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.5);
    background-color: white;
    border-radius: 20px;

    width: 310px;
}

.bod img {
    border-radius: 10px;

    max-width: 280px;
    margin: 15px 0px 0px 0px;
}

h2 {
    color: var(--dark-blue);
    font-weight: bold;
    text-align: center;

    margin: 20px 10px 10px 10px;
}

p {
    color: var(--grayish-blue);
    font-size: 15px;
    text-align: center;
    
    margin: 5px 20px 35px 20px;
}

@media screen and (max-width: 321px) {
    .bod {
        width: 280px;
    }

    .bod img {
        max-width: 90%;
    }

    h2 {
        font-size: 1.3em;
        margin: 5% 10px 10px 10px;
    }

    p {
        font-size: 0.9em;
    }
}